################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.obj
*.idb
*.pdb
*.ncb
*.pch
*.exe

# Ignore build output dirs
**/Debug/
**/Release/
**_Debug**
